body{
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: cover;
    font-family: sans-serif;
    color: white;

}
.progress{
    margin: 300px auto; /* top bottom - left right*/
}
.progress img{
    width: 80px;
    margin-bottom: 20px;
    color: white;
}
ul{
    text-align: center;
}
ul li{
    display: inline-block;
    width: 200px;
    position: relative;
}
ul li i{
    background: #ccc;
    width: 20px;
    height: 18px;
    color: white;
    border-radius: 50%;
}
ul li i::after{
    content: '';
    background-color: #ccc;
    height: 5px;
    width: 205px;
    display: block;
    position: absolute;
    left: 0;
    top: 110px
}
ul li:nth-child(3) i{
    background-color: #148e14;
}
ul li:nth-child(3) i::after{
    background-color: #148e14;
}
ul li:nth-child(1) i,
ul li:nth-child(2) i{
    background-color: #60aa97;
}
ul li:nth-child(1) i::after,
ul li:nth-child(2) i::after{
    background-color: #60aa97;
}
ul li:first-child i::after{
    width: 105px;
    left: 100px;
}
ul li:last-child i::after{
    width: 105px;
}